/* Set base font size and margin/padding to 0 */
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Use rem units for font sizes and spacing to make them proportional */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  background-image: url("images/table.jpeg");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
  margin-top: 2rem;
  font-size: 2rem;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 10rem;
  background: goldenrod;
  padding: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Media query for small screens */
@media (max-width: 576px) {
  /* Adjust font sizes and spacing for smaller screens */
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  button {
    width: 8rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  /* Hide background image on small screens */
  body {
    background-image: none;
  }
}
