/* Set base font size and margin/padding to 0 */
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Use rem units for font sizes and spacing to make them proportional */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  background-image: url("images/table.jpeg");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
  margin-top: 2rem;
  font-size: 2.5rem;
  line-height: 3rem; /* add line height for better readability */
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 12rem; /* increase button width for better touch targeting */
  background: goldenrod;
  padding: 1.2rem; /* increase padding for better touch comfort */
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Media query for small screens */
@media (max-width: 480px) {
  /* Adjust font sizes and spacing for smaller screens */
  html {
    font-size: 65px;
  }

  h1 {
    font-size: 20rem;
    margin-top: 10.5rem;
    line-height: 20.5rem; /* decrease line height for smaller screens */
  }

  button {
    width: 40rem;
    padding: 10rem;
    font-size: 10rem;
    margin-bottom: 10.5rem;
    margin-top: 10.5rem;
  }
}
